---
---

<aside>
  <a href="/" class="logo">
    <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3569 2.37401C14.3569 3.68405 13.3024 4.74701 12.0006 4.74701V4.746C10.6997 4.746 9.64427 3.68304 9.64427 2.373C9.64427 1.06296 10.6987 0 12.0006 0C13.3024 0 14.3569 1.06397 14.3569 2.37401ZM15.8469 11.7208H19.7344C21.651 11.7208 23.2042 13.285 23.2042 15.2152H16.4878L19.1365 17.8827C20.4914 19.2472 20.4914 21.4599 19.1365 22.8244L13.6829 17.3321V25.1792C13.6829 26.7374 12.4292 28 10.882 28H10.3342V17.2716L4.72341 22.9222C3.36852 21.5577 3.36852 19.345 4.72341 17.9805L7.46924 15.2142H0.794922C0.794922 13.284 2.34809 11.7198 4.26477 11.7198H8.11114L3.40857 6.98386C4.76346 5.61936 6.96053 5.61936 8.31542 6.98386L11.9795 10.674L15.4274 7.2017C16.7822 5.8372 18.9793 5.8372 20.3342 7.2017L15.8469 11.7208Z" fill="#292929"/>
    </svg>
      
  </a>
  <div>
    test
  </div>
</aside>

<style>
  aside {
    @apply flex flex-col sticky inset-0 
    items-center justify-start gap-2
    bg-white border-r border-gray-100
    align-top top-0 h-screen;
  }
  .logo {
    @apply w-full h-14
    flex items-center justify-center
    border-b border-gray-100;
  }
</style>
