---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Aside />
      <main>
        <Header />
        <slot />
      </main>
    </div>
  </body>

  <style>
    body, html {
      @apply bg-gray-50 w-screen;
      scroll-behavior: smooth;
    }
    .container {
      @apply w-full min-w-[100vw] h-full grid m-0 grid-cols-[72px_1fr];
    }
    main {
      @apply flex-1 w-full m-auto;
    }
  </style>